
.upd_section{
    margin-left: 250px;
    margin-top: 50px;
  }
  
  
  .update{
    width: 948px;
    height: 50px;
  
    margin-top: 5px;
  
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  }
  
  button{
    position: relative;
    width: 141px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    top: 10px;
    
  }
  .submit{
    border-color: green;
    margin-left: 30%;
    margin-right: 5%;
    color: black;
    margin-bottom: 50px;
  }
  .cancel{
    border-color: red;
    color:black;
  }
  
  .submit:hover{
    background-color: green;
    color: white;
  }
  .cancel:hover{
    background-color: red;
    color: white;
  }